name: smtp4dev
services:
    smtp4dev:
        ports:
        - 7777:80
        - 25:25
        - 143:143
        - 110:110
        image: rnwood/smtp4dev
        volumes:
        - smtp4dev-data:/smtp4dev
        # environment:
        # - ServerOptions__Users__0__Username=user
        # - ServerOptions__Users__0__Password=pass